<div class="row no-gutters">
  <div class="col-12 bg-dark text-white vh-100">
    <div class="text-center p-5 bg-danger">
      <h1 class="h3">HR Portal</h1>
    </div>

    <!-- nav items -->
    <div class="d-flex flex-column mt-5">
      <div class="py-5 p-2 text-center">
        <fa-icon class="display-4 mb-4" [icon]="faUser"></fa-icon>
        <p class="h4">Me</p>
      </div>

      <div class="py-5 p-2 text-center">
        <span>Holidays</span>
      </div>

      <div class="py-5 p-2 text-center">
        <span>Employees</span>
      </div>

    </div>

  </div>
</div>

