<h3>Absences</h3>

<div class="row no-gutters mt-5">

  <div class="col-12 p-4">
    <h4>Next Holiday: //todo</h4>
  </div>

  <div class="col-12 col-sm-6 col-md-4 p-4">
    <div class="border rounded p-3 text-center">
      <fa-icon class="display-4" [icon]="faCalendar"></fa-icon>
      <h4 class="mt-3">All Absences</h4>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 p-4">
    <div class="border rounded p-3 text-center">
      <fa-icon class="display-4" [icon]="faCalendarDay"></fa-icon>
      <h4 class="mt-3">Upcoming Absences</h4>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 p-4">
    <div class="border rounded p-3 text-center">
      <fa-icon class="display-4" [icon]="faCalendarWeek"></fa-icon>
      <h4 class="mt-3">Pending Absences</h4>
    </div>
  </div>


</div>
